.NavBar {
  font-family: sans-serif;
  text-align: center;
}

.color-nav {
  background-color: #ecf0f1;
  color: black;
}

.dropdown-toggle::after {
  content: none;
}

.caret-off::before {
  display: none;
}
.caret-off::after {
  display: none;
}

.mainMain {
  direction: rtl;
  width: 100%;
  height: 100%;
}
